<div id="footer">
    <div class="container">
        <p class="credit">
            <a href="//{{ shop.domain }}">
                <span class="icon icon-chevron-left"></span>
                wróć do sklepu
            </a>
            <a class="pull-right" href="{{ path('shoplo_allegro_logout') }}">
                <span class="icon icon-share-alt"></span>
                Wyloguj
            </a>
        </p>
    </div>
</div>
