{% extends "::base.html.twig" %}

{% block body %}
    <div class="page-header">
        <h1>Witaj w aplikacji Integracja z Allegro</h1>
    </div>
    <p class="lead">Uzupełnij ustawienia aplikacji i zacznij wystawiać przedmioty</p>
{% endblock %}
