html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body {
    background: url(../img/bg.png) center top #C0DEED;
    padding-top: 60px;
    position: relative;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 30px;
}
a, a:focus, a:hover {
    color: #31657F;
}
a:hover {
    text-decoration: none;
}

label, input, button, select, textarea {
    text-shadow: 0 1px 0 #FFFFFF;
    color: #444444;
}


/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
}

#adminNavBar {
    top: 0;
    position: absolute;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-size: 20px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    width: 960px;
}

.container .credit {
    margin: 20px 0;
}

.container.central {
    width: 680px;
}

.container h2 {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4)
}
.alignCenter {
    text-align: center !important;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}
.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}
.box {
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 10px;
}

.box h3 {
    border-bottom: 1px dashed #E7E7E7;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
}
.box h4 {
    border-bottom: 1px dashed #E7E7E7;
    padding-bottom: 5px;
}
.box .btn-primary, .btn-orange {
    color: #000;
    font-weight: bold;
    text-shadow: 0 -1px 0 #2c1b13 inset;
    border-color: #ffe141;
    background: #ffe141;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffe141), to(#fccf04));
    background: -moz-linear-gradient(#ffe141, #fccf04);
    background: linear-gradient(#ffe141, #fccf04);
    -pie-background: linear-gradient(#ffe141, #fccf04);
}
.box.orange {
    background: #f5760a;
    color: #fff;
}
.box table.table thead {
    background: #f5f5f5;
}
.box table.table td {
    border-bottom: 1px solid #F3F3F3;
    border-top: none;
    height: 50px;
    vertical-align: middle;
}
.box table.table td.alignCenter {
    text-align: center;
}
.box table tr td.loading {
    background: url(../img/loader.gif) center no-repeat;
}
.box table tr td.loading select {
    opacity: 0.5;
}
.box table.table .image {
    width: 50px;
}

/* Actions */
a.action { margin-left:5px; margin-right:0 !important; width:13px; height:13px; }
a.action .ico { width:13px; height:13px; display:inline-block; background: url(../img/action_icons_sprite.png) no-repeat !important; }
a.actionDelete .ico { background-position: 0 0px !important; }
a.actionEdit .ico { background-position: 0 -13px !important; }
a.actionReorder .ico { background-position: 0 -26px !important; }
a.actionDrag .ico { background-position: 0 -39px !important; }

.ez-hide {
    opacity: 0;
    filter: alpha(opacity=0);
}
.ez-checkbox {
    background: transparent url(../img/radio_inputs.png) 0 0 no-repeat;
    display: inline-block;
    width: 71px;
    height: 32px;
    zoom: 1;
    *display: inline;
    cursor: pointer;
}
.ez-checked {
    background-position: 0 -32px;
}
.ez-checkbox .ez-hide {
    width: 30px;
    height: 24px;
    cursor: pointer;
}
.ez-checkbox.ez-checked .ez-hide {
    margin-left: 35px;
}

.ez-checkbox.ez-disabled, label.disabled {
    opacity: 0.5;
}

.table .medium {
    width: 100px;
}
.table .mini {
    width: 50px;
}

.icon-settings {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url(../img/icons_sprite.png) no-repeat;
}
.icon-settings.profile {
    background-position: 0 0;
}
.icon-settings.location {
    background-position: 0 25px;
}
.icon-settings.payments {
    background-position: 0 50px;
}
.icon-settings.settings {
    background-position: 0 75px;
}
.icon-settings.shipping {
    background-position: 0 100px;
}

/* Sidebar menu */
.sidebar ul.menu {
    list-style: none;
    margin-left: -20px;
}
.sidebar ul.menu li {
    border-bottom: 1px dashed rgba(95, 138, 161, 0.15);
}
.sidebar ul.menu li a {
    display: inline-block;
    padding: 5px 17px;
}

/* Initial settings */
.init-settings {
    margin-top: 40px;
}
.init-settings .accordion-heading {
    color: #fff;
    text-shadow: 0 -1px 0 #eee inset;
    border: 1px solid #F56A00;
    background: #f28c1d;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F48B1C), to(#F56B01));
    background: -moz-linear-gradient(#F48B1C, #F56B01);
    background: linear-gradient(#F48B1C, #F56B01);
    -pie-background: linear-gradient(#F48B1C, #F56B01);
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
}
.init-settings .disabled .accordion-heading {
    color: #606060;
    text-shadow: 0 -1px 0 #666 inset;
    border-color: #B3B3B3;
    background: #cecece;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#cecece), to(#8f8f8f));
    background: -moz-linear-gradient(#cecece, #8f8f8f);
    background: linear-gradient(#cecece, #8f8f8f);
    -pie-background: linear-gradient(#cecece, #8f8f8f);
}
.init-settings .done .accordion-heading {
    color: #b3c498;
    text-shadow: 0 -1px 0 #d2e4b5 inset;
    border-color: #c6d47d;
    background: #eff7d0;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eff7d0), to(#e1edc9));
    background: -moz-linear-gradient(#eff7d0, #e1edc9);
    background: linear-gradient(#eff7d0, #e1edc9);
    -pie-background: linear-gradient(#eff7d0, #e1edc9);
}
.init-settings .accordion-group {
    border: none;
    margin-bottom: 0;
}
.init-settings .accordion-heading a {
    color: #fff;
    cursor: default;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.init-settings .disabled .accordion-heading a {
    color: #606060;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.init-settings .done .accordion-heading a {
    color: #b3c498;
}
.init-settings .accordion-heading a:hover {
    text-decoration: none;
}
.init-settings .accordion-body {
    margin: 0 10px;
    background: url(../img/form_bg.jpg) center top #f5f5f5;
}
.init-settings .control-group {
    border-bottom: 1px solid #E2E2E2;
    box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.init-settings .control-group .control-label {
    text-align: left;
}
.init-settings button {
    display: block;
    margin: 0 auto;
}
.init-settings .icon-settings {
    float: right;
}
.init-settings .quantity .ez-checkbox {
    float: right;
}
.init-settings .quantity .cont {
    float: right;
    margin-right: 10px;
}
/* Wizard */
.summaryBox.sidebar {
    width: 212px;
    margin-left: 710px;
    position: absolute;
    top: auto;
}
.summaryBox.sidebar.sticked {
    position: fixed;
    top: 10px;
}
.summaryBox #auctionPrice li {
    margin-left: 0;
}
ul.inline {
    list-style: none;
    margin-left: 0;
}
ul.inline li {
    float: left;
    margin-right: 5px;
}
ul.inline.medium li {
    height: 150px;
    margin-bottom: 10px;
}
ul.inline.medium li .mask {
    width: 140px;
    height: 140px;
    line-height: 140px;
    vertical-align: middle;
    display: inline-block;
}
ul.inline.mini li {
    height: 60px;
    margin-bottom: 10px;
}
ul.inline.mini li .mask {
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    display: inline-block;
}
ul.inline li a:hover {
    text-decoration:none;
}
ul.inline li:hover a {
    display: inline-block;
}

.summaryBox.sidebar ul li {
    font-size: 12px;
}
.summaryBox .summary {
    font-weight: bold;
    border-top: 1px solid #ff9909;
    padding: 15px 0 0;
}

/* Category mapping */
.map-allegro select {
    margin-right: 5px;
    margin-bottom: 2px;
}
.map-allegro .input-prepend input {
    width: 130px;
}
.map-allegro input {
    margin-bottom: 2px;
}

.map-allegro .parent {
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}
.map-allegro .parent.first {
    padding-top: 0;
    border-top: none;
}
#form_payments input, #form_delivery input, #form_images input {
    float: left;
    margin-right: 10px !important;
}
#form_payments label, #form_delivery label, #form_images label {
    margin-bottom: 15px;
}
#form_extra_delivery input {
    margin-right: 10px !important;
}
#form_promotions input {
    float: left;
    margin-right: 10px !important;
}
#form_promotions label {
    float: left;
    margin-right: 20px;
    width: 175px;
}
#form_extra_delivery label {
    margin-right: 10px;
}
